{deps,
  [ {std,     ".*", {git, "git://github.com/artemeff/std.git",      {tag, "0.1.0"}}}
  , {lager,   ".*", {git, "git://github.com/basho/lager.git",       {tag, "2.1.0"}}}
  , {cowboy,  ".*", {git, "git://github.com/ninenines/cowboy.git",  {tag, "2.0.0-pre.1"}}}
  , {qsp,     ".*", {git, "git://github.com/artemeff/qsp.git",      {tag, "0.1.0"}}}
  , {jsx,     ".*", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.4.0"}}}
  , {qdate,   ".*", {git, "git://github.com/choptastic/qdate.git",  {branch, "master"}}}
  % data
  , {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git", {tag, "v2.12.2"}}}
  , {mochiweb_xpath, ".*", {git, "git://github.com/retnuh/mochiweb_xpath.git", {tag, "v1.2.0"}}}
  % test and dev
  , {json,       ".*", {git, "git://github.com/talentdeficit/json.git"}}
  , {meck,       ".*", {git, "git://github.com/eproxus/meck.git"}}
  , {etest,      ".*", {git, "git://github.com/artemeff/etest.git"}}
  , {etest_http, ".*", {git, "git://github.com/artemeff/etest_http.git"}}
  ]}.

{erl_opts,
  [ {lager_truncation_size, 4096}
  , debug_info
  ]}.

{erlydtl_opts,
  [ {doc_root, "priv/views"}
  , {out_dir, "ebin"}
  , {source_ext, ".html"}
  , {module_ext, "_view"}
  ]}.
