{deps,
  [ {std,     ".*", {git, "git://github.com/artemeff/std.git",      {tag, "0.1.0"}}}
  , {lager,   ".*", {git, "git://github.com/basho/lager.git",       {tag, "2.1.0"}}}
  , {cowboy,  ".*", {git, "git://github.com/ninenines/cowboy.git",  {tag, "2.0.0-pre.1"}}}
  , {poolboy, ".*", {git, "git://github.com/devinus/poolboy.git",   {tag, "1.4.2"}}}
  , {eql,     ".*", {git, "git://github.com/artemeff/eql.git",      {tag, "0.1.0"}}}
  , {epgsql,  ".*", {git, "git://github.com/epgsql/epgsql.git",     {tag, "2.0.0"}}}
  , {erlydtl, ".*", {git, "git://github.com/erlydtl/erlydtl.git",   {tag, "0.10.0"}}}
  , {jsx,     ".*", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.4.0"}}}
  , {ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", "HEAD"}}
  % test and dev
  , {etest,      ".*", {git, "git://github.com/artemeff/etest.git"}}
  , {etest_http, ".*", {git, "git://github.com/artemeff/etest_http.git"}}
  ]}.

{erl_opts,
  [ {lager_truncation_size, 4096}
  , {src_dirs, ["src", "test"]}
  , debug_info
  ]}.

{erlydtl_opts,
  [ {doc_root, "priv/views"}
  , {out_dir, "ebin"}
  , {source_ext, ".html"}
  , {module_ext, "_view"}
  ]}.
