[ {{<<"autobus">>, "1"},
    [ {"2",   <<"2">>}
    , {"2k",  <<"2к"/utf8>>}
    , {"3",   <<"3">>}
    , {"4",   <<"4">>}
    , {"4a",  <<"4а"/utf8>>}
    , {"5",   <<"5">>}
    , {"6",   <<"6">>}
    , {"7",   <<"7">>}
    , {"8",   <<"8">>}
    , {"9",   <<"9">>}
    , {"10",  <<"10">>}
    , {"11",  <<"11">>}
    , {"12",  <<"12">>}
    , {"13",  <<"13">>}
    , {"14",  <<"14">>}
    , {"15",  <<"15">>}
    , {"16",  <<"16">>}
    , {"17",  <<"17">>}
    , {"18",  <<"18">>}
    , {"18k", <<"18к"/utf8>>}
    , {"19",  <<"19">>}
    , {"19k", <<"19к"/utf8>>}
    , {"21",  <<"21">>}
    , {"21b", <<"21б"/utf8>>}
    , {"21t", <<"21т"/utf8>>}
    , {"22",  <<"22">>}
    , {"22c", <<"22c"/utf8>>}
    , {"23",  <<"23">>}
    , {"24",  <<"24">>}
    , {"25",  <<"25">>}
    , {"26",  <<"26">>}
    , {"27",  <<"27">>}
    , {"28",  <<"28">>}
    , {"29",  <<"29">>}
    , {"29k", <<"29к"/utf8>>}
    , {"30",  <<"30">>}
    , {"32",  <<"32">>}
    , {"33",  <<"33">>}
    , {"34",  <<"34">>}
    , {"35",  <<"35">>}
    , {"35d", <<"35д"/utf8>>}
    , {"41",  <<"41">>}
    , {"41a", <<"41а"/utf8>>}
    , {"41b", <<"41б"/utf8>>}
    , {"42",  <<"42">>}
    , {"43",  <<"43">>}
    , {"44",  <<"44">>}
    , {"44m", <<"44м"/utf8>>}
    , {"72",  <<"72">>}
    , {"76",  <<"76">>}
    , {"78",  <<"78">>}
    , {"93g", <<"93г"/utf8>>}
    ]}
, {{<<"trolleybus">>, "2"},
    [ {"1", <<"1">>}
    , {"2", <<"2">>}
    , {"3", <<"3">>}
    , {"4", <<"4">>}
    , {"5", <<"5">>}
    , {"6", <<"6">>}
    , {"7", <<"7">>}
    , {"8", <<"8">>}
    , {"9", <<"9">>}
    ]}
, {{<<"tram">>, "3"},
    [ {"1", <<"1">>}
    , {"5", <<"5">>}
    , {"6", <<"6">>}
    , {"7", <<"7">>}
    ]}
].
