[ {types,
    [ {<<"А"/utf8>>, <<"autobus">>}
    , {<<"Т"/utf8>>, <<"trolleybus">>}
    ]}
, {transports,
    [ {[381, 382], <<"А"/utf8>>, <<"3с"/utf8>>}
    , {[383],      <<"А"/utf8>>, <<"6с"/utf8>>}
    , {[384, 385], <<"А"/utf8>>, <<"7c"/utf8>>}
    , {[386, 387], <<"А"/utf8>>, <<"11с"/utf8>>}
    , {[388, 389], <<"А"/utf8>>, <<"12с"/utf8>>}
    , {[390, 391], <<"А"/utf8>>, <<"13с"/utf8>>}
    , {[392, 393], <<"А"/utf8>>, <<"14">>}
    , {[394, 395], <<"А"/utf8>>, <<"15">>}
    , {[396, 397], <<"А"/utf8>>, <<"20">>}
    , {[399, 400], <<"А"/utf8>>, <<"21">>}
    , {[403, 404], <<"А"/utf8>>, <<"22">>}
    , {[405, 406], <<"А"/utf8>>, <<"24">>}
    , {[407, 408], <<"А"/utf8>>, <<"25">>}
    , {[409, 410], <<"А"/utf8>>, <<"26">>}
    , {[411, 412], <<"А"/utf8>>, <<"27">>}
    , {[413],      <<"А"/utf8>>, <<"28А"/utf8>>}
    , {[414],      <<"А"/utf8>>, <<"28Б"/utf8>>}
    , {[415, 416], <<"А"/utf8>>, <<"32">>}
    , {[417, 418], <<"А"/utf8>>, <<"34">>}
    , {[419, 420], <<"А"/utf8>>, <<"54">>}
    , {[421, 422], <<"А"/utf8>>, <<"55">>}
    , {[423, 424], <<"А"/utf8>>, <<"56">>}
    , {[425, 426], <<"А"/utf8>>, <<"152">>}

    , {[82, 83],   <<"Т"/utf8>>, <<"1"/utf8>>}
    , {[89],       <<"Т"/utf8>>, <<"1АA"/utf8>>}
    , {[84, 85],   <<"Т"/utf8>>, <<"2"/utf8>>}
    , {[72, 73],   <<"Т"/utf8>>, <<"5"/utf8>>}
    , {[74, 75],   <<"Т"/utf8>>, <<"7"/utf8>>}
    , {[90],       <<"Т"/utf8>>, <<"8B"/utf8>>}
    , {[87],       <<"Т"/utf8>>, <<"8А"/utf8>>}
    , {[76, 77],   <<"Т"/utf8>>, <<"10"/utf8>>}
    , {[78, 79],   <<"Т"/utf8>>, <<"11"/utf8>>}
    , {[80, 81],   <<"Т"/utf8>>, <<"12"/utf8>>}
    ]}
].
