[ {types,
    [ {<<"А"/utf8>>, <<"autobus">>}
    ]}
, {transports,
    [ {[25, 26], <<"А"/utf8>>, <<"3Т"/utf8>>}
    , {[27, 28], <<"А"/utf8>>, <<"4К"/utf8>>}
    , {[7, 8],   <<"А"/utf8>>, <<"4Т"/utf8>>}
    , {[21, 22], <<"А"/utf8>>, <<"16">>}
    , {[30, 31], <<"А"/utf8>>, <<"17">>}
    , {[23, 24], <<"А"/utf8>>, <<"18">>}
    , {[13, 14], <<"А"/utf8>>, <<"19">>}
    , {[32, 33], <<"А"/utf8>>, <<"20к"/utf8>>}
    , {[17, 18], <<"А"/utf8>>, <<"23">>}
    , {[1, 2],   <<"А"/utf8>>, <<"25">>}
    , {[11, 12], <<"А"/utf8>>, <<"30">>}
    , {[19, 20], <<"А"/utf8>>, <<"30С"/utf8>>}
    , {[9, 10],  <<"А"/utf8>>, <<"31">>}
    , {[16],     <<"А"/utf8>>, <<"К1"/utf8>>}
    , {[29],     <<"А"/utf8>>, <<"К2"/utf8>>}
    ]}
].
