[ {types,
    [ {<<"А"/utf8>>, <<"autobus">>}
    , {<<"М"/utf8>>, <<"minibus_taxi">>}
    , {<<"Т"/utf8>>, <<"trolleybus">>}
    , {<<"Тр"/utf8>>, <<"tram">>}
    ]}
, {transports,
    [ {[20, 21],   <<"А"/utf8>>,  <<"01">>}
    , {[50, 51],   <<"А"/utf8>>,  <<"02">>}
    , {[58, 59],   <<"А"/utf8>>,  <<"04">>}
    , {[69, 70],   <<"А"/utf8>>,  <<"09">>}
    , {[63, 64],   <<"А"/utf8>>,  <<"10">>}
    , {[30, 31],   <<"А"/utf8>>,  <<"15">>}
    , {[24, 25],   <<"А"/utf8>>,  <<"17">>}
    , {[99, 100],  <<"А"/utf8>>,  <<"19">>}
    , {[101, 102], <<"А"/utf8>>,  <<"20">>}
    , {[40, 41],   <<"А"/utf8>>,  <<"21">>}
    , {[42, 43],   <<"А"/utf8>>,  <<"23">>}
    , {[103, 104], <<"А"/utf8>>,  <<"24">>}
    , {[54, 55],   <<"А"/utf8>>,  <<"25">>}
    , {[65, 66],   <<"А"/utf8>>,  <<"28">>}
    , {[16, 17],   <<"А"/utf8>>,  <<"35">>}
    , {[18, 19],   <<"А"/utf8>>,  <<"37">>}
    , {[105, 106], <<"А"/utf8>>,  <<"38">>}
    , {[107, 108], <<"А"/utf8>>,  <<"39">>}
    , {[91, 92],   <<"А"/utf8>>,  <<"40">>}
    , {[26, 27],   <<"А"/utf8>>,  <<"53">>}
    , {[111, 112], <<"А"/utf8>>,  <<"55">>}
    , {[10, 11],   <<"А"/utf8>>,  <<"57">>}
    , {[113, 114], <<"А"/utf8>>,  <<"60">>}
    , {[52, 53],   <<"А"/utf8>>,  <<"80">>}
    , {[83, 84],   <<"А"/utf8>>,  <<"104">>}
    , {[75, 76],   <<"А"/utf8>>,  <<"108">>}
    , {[87, 88],   <<"А"/utf8>>,  <<"109">>}
    , {[71, 72],   <<"А"/utf8>>,  <<"110">>}
    , {[73, 74],   <<"А"/utf8>>,  <<"113">>}
    , {[89, 90],   <<"А"/utf8>>,  <<"116">>}
    , {[81, 82],   <<"А"/utf8>>,  <<"137">>}
    , {[79, 80],   <<"А"/utf8>>,  <<"138">>}
    , {[77, 78],   <<"А"/utf8>>,  <<"139">>}
    , {[85, 86],   <<"А"/utf8>>,  <<"149">>}

    , {[67, 68],   <<"М"/utf8>>,  <<"06">>}
    , {[115, 116], <<"М"/utf8>>,  <<"11">>}
    , {[36, 37],   <<"М"/utf8>>,  <<"16">>}
    , {[119, 120], <<"М"/utf8>>,  <<"18">>}
    , {[121, 122], <<"М"/utf8>>,  <<"27">>}
    , {[48, 49],   <<"М"/utf8>>,  <<"32">>}
    , {[93, 94],   <<"М"/utf8>>,  <<"33">>}
    , {[137, 138], <<"М"/utf8>>,  <<"34">>}
    , {[32, 33],   <<"М"/utf8>>,  <<"41">>}
    , {[125, 126], <<"М"/utf8>>,  <<"46">>}
    , {[44, 45],   <<"М"/utf8>>,  <<"47">>}
    , {[61, 62],   <<"М"/utf8>>,  <<"50">>}
    , {[38, 39],   <<"М"/utf8>>,  <<"51">>}
    , {[46, 47],   <<"М"/utf8>>,  <<"52">>}
    , {[22, 23],   <<"М"/utf8>>,  <<"54">>}
    , {[127, 128], <<"М"/utf8>>,  <<"56">>}
    , {[139, 140], <<"М"/utf8>>,  <<"58">>}
    , {[135, 136], <<"М"/utf8>>,  <<"59">>}
    , {[95, 96],   <<"М"/utf8>>,  <<"65">>}
    , {[131, 132], <<"М"/utf8>>,  <<"73">>}
    , {[143, 144], <<"М"/utf8>>,  <<"75">>}
    , {[97, 98],   <<"М"/utf8>>,  <<"76">>}
    , {[34, 35],   <<"М"/utf8>>,  <<"77">>}
    , {[28, 29],   <<"М"/utf8>>,  <<"78">>}
    , {[141, 142], <<"М"/utf8>>,  <<"120">>}
    , {[133, 134], <<"М"/utf8>>,  <<"121">>}
    , {[109, 110], <<"М"/utf8>>,  <<"128">>}
    , {[56, 57],   <<"М"/utf8>>,  <<"144">>}

    , {[8, 9],     <<"Т"/utf8>>,  <<"1"/utf8>>}
    , {[12, 13],   <<"Т"/utf8>>,  <<"6"/utf8>>}
    , {[14, 15],   <<"Т"/utf8>>,  <<"7"/utf8>>}

    , {[19, 20],   <<"Тр"/utf8>>, <<"1"/utf8>>}
    , {[11, 12],   <<"Тр"/utf8>>, <<"2"/utf8>>}
    , {[4, 5],     <<"Тр"/utf8>>, <<"3"/utf8>>}
    , {[9, 10],    <<"Тр"/utf8>>, <<"4"/utf8>>}
    , {[7, 8],     <<"Тр"/utf8>>, <<"5"/utf8>>}
    , {[13, 14],   <<"Тр"/utf8>>, <<"7"/utf8>>}
    , {[15, 16],   <<"Тр"/utf8>>, <<"8"/utf8>>}
    , {[17, 18],   <<"Тр"/utf8>>, <<"9"/utf8>>}
    , {[2, 3],     <<"Тр"/utf8>>, <<"10"/utf8>>}

    ]}
].
