[ {types,
    [ {<<"А"/utf8>>, <<"autobus">>}
    , {<<"Т"/utf8>>, <<"tram">>}
    , {<<"М"/utf8>>, <<"minibus_taxi">>}
    ]}
, {transports,
    [ {[6, 7],   <<"А"/utf8>>, <<"1">>}
    , {[8, 9],   <<"А"/utf8>>, <<"1а"/utf8>>}
    , {[10, 11], <<"А"/utf8>>, <<"2">>}
    , {[12, 13], <<"А"/utf8>>, <<"2к"/utf8>>}
    , {[86, 87], <<"А"/utf8>>, <<"3">>}
    , {[14, 15], <<"А"/utf8>>, <<"4">>}
    , {[16, 17], <<"А"/utf8>>, <<"5">>}
    , {[19, 20], <<"А"/utf8>>, <<"6">>}
    , {[21, 22], <<"А"/utf8>>, <<"7">>}
    , {[23, 24], <<"А"/utf8>>, <<"7а"/utf8>>}
    , {[25, 26], <<"А"/utf8>>, <<"8">>}
    , {[27, 28], <<"А"/utf8>>, <<"8а"/utf8>>}
    , {[29, 30], <<"А"/utf8>>, <<"9">>}
    , {[31, 32], <<"А"/utf8>>, <<"11">>}
    , {[33, 34], <<"А"/utf8>>, <<"12">>}
    , {[35, 36], <<"А"/utf8>>, <<"13">>}
    , {[37, 38], <<"А"/utf8>>, <<"14">>}
    , {[88, 89], <<"А"/utf8>>, <<"15">>}
    , {[39, 40], <<"А"/utf8>>, <<"15а"/utf8>>}
    , {[92],     <<"А"/utf8>>, <<"15ац"/utf8>>}
    , {[5, 82],  <<"А"/utf8>>, <<"16">>}
    , {[90, 91], <<"А"/utf8>>, <<"16к"/utf8>>}
    , {[43, 83], <<"А"/utf8>>, <<"17">>}
    , {[44, 45], <<"А"/utf8>>, <<"17а"/utf8>>}
    , {[46, 47], <<"А"/utf8>>, <<"18">>}
    , {[3],      <<"А"/utf8>>, <<"19">>}
    , {[4],      <<"А"/utf8>>, <<"20">>}
    , {[48, 49], <<"А"/utf8>>, <<"22">>}
    , {[50],     <<"А"/utf8>>, <<"24">>}
    , {[51, 52], <<"А"/utf8>>, <<"26">>}
    , {[66, 65], <<"А"/utf8>>, <<"27">>}
    , {[53, 54], <<"А"/utf8>>, <<"27а"/utf8>>}
    , {[55, 56], <<"А"/utf8>>, <<"33">>}
    , {[57, 58], <<"А"/utf8>>, <<"35">>}
    , {[59, 60], <<"А"/utf8>>, <<"35а"/utf8>>}
    , {[84, 85], <<"А"/utf8>>, <<"43">>}
    , {[80, 81], <<"А"/utf8>>, <<"101">>}

    , {[69, 70], <<"Т"/utf8>>, <<"Тр 1"/utf8>>}
    , {[71, 72], <<"Т"/utf8>>, <<"Тр 2"/utf8>>}
    , {[73, 74], <<"Т"/utf8>>, <<"Тр 3"/utf8>>}
    , {[75, 76], <<"Т"/utf8>>, <<"Тр 4"/utf8>>}
    , {[77, 78], <<"Т"/utf8>>, <<"Тр 5"/utf8>>}
    
    , {[68, 67], <<"М"/utf8>>, <<"71">>}
    ]}
].
