[ {types,
    [ {<<"А"/utf8>>, <<"autobus">>}
    ]}
, {transports,
    [ {[115, 116], <<"А"/utf8>>, <<"1">>}
    , {[28, 29],   <<"А"/utf8>>, <<"2">>}
    , {[98, 99],   <<"А"/utf8>>, <<"3">>}
    , {[61, 62],   <<"А"/utf8>>, <<"4">>}
    , {[100, 101], <<"А"/utf8>>, <<"5">>}
    , {[20, 21],   <<"А"/utf8>>, <<"7т"/utf8>>}
    , {[97],       <<"А"/utf8>>, <<"8">>}
    , {[34, 35],   <<"А"/utf8>>, <<"13к"/utf8>>}
    , {[96],       <<"А"/utf8>>, <<"15">>}
    , {[112],      <<"А"/utf8>>, <<"15к"/utf8>>}
    , {[88, 89],   <<"А"/utf8>>, <<"16к"/utf8>>}
    , {[65, 66],   <<"А"/utf8>>, <<"16ц"/utf8>>}
    , {[8, 9],     <<"А"/utf8>>, <<"17">>}
    , {[10, 11],   <<"А"/utf8>>, <<"17Т"/utf8>>}
    , {[26, 27],   <<"А"/utf8>>, <<"17л"/utf8>>}
    , {[93],       <<"А"/utf8>>, <<"18">>}
    , {[1, 2],     <<"А"/utf8>>, <<"23">>}
    , {[22, 23],   <<"А"/utf8>>, <<"24Д"/utf8>>}
    , {[32],       <<"А"/utf8>>, <<"30">>}
    , {[40, 41],   <<"А"/utf8>>, <<"31">>}
    , {[36, 37],   <<"А"/utf8>>, <<"33">>}
    , {[90, 91],   <<"А"/utf8>>, <<"35">>}
    , {[121, 122], <<"А"/utf8>>, <<"37">>}
    , {[81, 82],   <<"А"/utf8>>, <<"38">>}
    , {[4, 5],     <<"А"/utf8>>, <<"39">>}
    , {[104, 105], <<"А"/utf8>>, <<"39д"/utf8>>}
    , {[12, 13],   <<"А"/utf8>>, <<"40">>}
    , {[123, 124], <<"А"/utf8>>, <<"40Л"/utf8>>}
    , {[75, 76],   <<"А"/utf8>>, <<"41">>}
    , {[94, 95],   <<"А"/utf8>>, <<"43">>}
    , {[59, 60],   <<"А"/utf8>>, <<"45">>}
    , {[6, 7],     <<"А"/utf8>>, <<"49">>}
    , {[16],       <<"А"/utf8>>, <<"54">>}
    , {[19],       <<"А"/utf8>>, <<"54А"/utf8>>}
    , {[49, 50],   <<"А"/utf8>>, <<"55">>}
    , {[43, 44],   <<"А"/utf8>>, <<"59">>}
    , {[18, 17],   <<"А"/utf8>>, <<"60">>}
    , {[107, 106], <<"А"/utf8>>, <<"61">>}
    , {[102, 103], <<"А"/utf8>>, <<"62">>}
    , {[63, 64],   <<"А"/utf8>>, <<"64">>}
    , {[67, 68],   <<"А"/utf8>>, <<"68">>}
    , {[73, 74],   <<"А"/utf8>>, <<"73">>}
    , {[117, 118], <<"А"/utf8>>, <<"74">>}
    , {[113, 114], <<"А"/utf8>>, <<"77">>}
    , {[45, 46],   <<"А"/utf8>>, <<"81">>}
    , {[79, 80],   <<"А"/utf8>>, <<"82">>}
    , {[85, 86],   <<"А"/utf8>>, <<"85">>}
    , {[110, 111], <<"А"/utf8>>, <<"85ц"/utf8>>}
    , {[119, 120], <<"А"/utf8>>, <<"86">>}
    , {[14, 15],   <<"А"/utf8>>, <<"90">>}
    , {[51, 52],   <<"А"/utf8>>, <<"97">>}
    , {[47, 48],   <<"А"/utf8>>, <<"98">>}
    , {[42],       <<"А"/utf8>>, <<"98д"/utf8>>}
    , {[92],       <<"А"/utf8>>, <<"98ц"/utf8>>}
    ]}
].
