[ {types,
    [ {<<"А"/utf8>>, <<"autobus">>}
    ]}
, {transports,
    [ {[6],        <<"А"/utf8>>, <<"1НВ"/utf8>>}
    , {[5],        <<"А"/utf8>>, <<"1НС"/utf8>>}
    , {[7, 8],     <<"А"/utf8>>, <<"2Н"/utf8>>}
    , {[13, 14],   <<"А"/utf8>>, <<"3Н"/utf8>>}
    , {[27, 28],   <<"А"/utf8>>, <<"8Н"/utf8>>}
    , {[9, 10],    <<"А"/utf8>>, <<"11Н"/utf8>>}
    , {[3, 4],     <<"А"/utf8>>, <<"13Н"/utf8>>}
    , {[1, 2],     <<"А"/utf8>>, <<"14Н"/utf8>>}
    , {[11, 12],   <<"А"/utf8>>, <<"22Н"/utf8>>}
    , {[23, 24],   <<"А"/utf8>>, <<"26Н"/utf8>>}
    , {[17, 18],   <<"А"/utf8>>, <<"27Н"/utf8>>}
    , {[21, 22],   <<"А"/utf8>>, <<"29НС"/utf8>>}
    , {[19, 20],   <<"А"/utf8>>, <<"30Н"/utf8>>}
    , {[25, 26],   <<"А"/utf8>>, <<"38Н"/utf8>>}
    , {[15, 16],   <<"А"/utf8>>, <<"44Н"/utf8>>}
    , {[29, 30],   <<"А"/utf8>>, <<"55Н"/utf8>>}
    , {[88, 89],   <<"А"/utf8>>, <<"105">>}
    , {[78, 79],   <<"А"/utf8>>, <<"108">>}
    , {[37, 43],   <<"А"/utf8>>, <<"110">>}
    , {[90, 91],   <<"А"/utf8>>, <<"111">>}
    , {[92, 93],   <<"А"/utf8>>, <<"111А"/utf8>>}
    , {[68, 69],   <<"А"/utf8>>, <<"113">>}
    , {[76, 77],   <<"А"/utf8>>, <<"114">>}
    , {[41, 42],   <<"А"/utf8>>, <<"117">>}
    , {[31, 32],   <<"А"/utf8>>, <<"124">>}
    , {[57, 58],   <<"А"/utf8>>, <<"127">>}
    , {[45, 46],   <<"А"/utf8>>, <<"130">>}
    , {[62, 63],   <<"А"/utf8>>, <<"131">>}
    , {[47, 48],   <<"А"/utf8>>, <<"135">>}
    , {[49, 50],   <<"А"/utf8>>, <<"136">>}
    , {[72, 73],   <<"А"/utf8>>, <<"143">>}
    , {[38, 40],   <<"А"/utf8>>, <<"145">>}
    , {[51, 52],   <<"А"/utf8>>, <<"146">>}
    , {[35, 53],   <<"А"/utf8>>, <<"225">>}
    , {[96, 97],   <<"А"/utf8>>, <<"301Н"/utf8>>}
    , {[98, 99],   <<"А"/utf8>>, <<"302Н"/utf8>>}
    , {[100, 101], <<"А"/utf8>>, <<"311Н"/utf8>>}
    , {[102, 103], <<"А"/utf8>>, <<"312Д"/utf8>>}
    , {[104, 105], <<"А"/utf8>>, <<"312Н"/utf8>>}
    , {[118, 119], <<"А"/utf8>>, <<"312а"/utf8>>}
    , {[120, 121], <<"А"/utf8>>, <<"313В"/utf8>>}
    , {[54, 56],   <<"А"/utf8>>, <<"315">>}
    , {[106, 107], <<"А"/utf8>>, <<"322Н"/utf8>>}
    , {[70, 71],   <<"А"/utf8>>, <<"326">>}
    , {[60, 61],   <<"А"/utf8>>, <<"327">>}
    , {[74, 75],   <<"А"/utf8>>, <<"333">>}
    , {[64, 65],   <<"А"/utf8>>, <<"348">>}
    , {[112, 113], <<"А"/utf8>>, <<"361Н"/utf8>>}
    , {[108, 109], <<"А"/utf8>>, <<"361а"/utf8>>}
    , {[110, 111], <<"А"/utf8>>, <<"361в"/utf8>>}
    , {[114, 115], <<"А"/utf8>>, <<"365Н"/utf8>>}
    , {[116, 117], <<"А"/utf8>>, <<"371Н"/utf8>>}
    , {[122, 123], <<"А"/utf8>>, <<"386Н"/utf8>>}
    , {[94, 95],   <<"А"/utf8>>, <<"531А"/utf8>>}
    , {[84, 85],   <<"А"/utf8>>, <<"533">>}
    , {[82, 83],   <<"А"/utf8>>, <<"534">>}
    , {[80, 81],   <<"А"/utf8>>, <<"541">>}
    , {[86, 87],   <<"А"/utf8>>, <<"544">>}
    ]}
].
