[ {transee,
    [ {cities,
      [ {transee_city_astrakhan,   <<"astrakhan">>}
      , {transee_city_barnaul,     <<"barnaul">>}
      , {transee_city_vladivostok, <<"vladivostok">>}
      , {transee_city_yaroslavl,   <<"yaroslavl">>}
      ]}
    ]}
, {lager,
    [ {colored, true}
    , {handlers,
        [ {lager_console_backend, info}
        , {lager_file_backend, [{file, "log/error.log"}, {level, error}]}
        ]}
    ]}
, {fink,
    [ {public_key, "46dc6d99fb977775854bc90f3d24cfb0"}
    , {secret_key, "7e05ad9d2a1428db0b87cecf1aa0c19b"}
    , {project, "transee_f0c195d"}
    ]}
].
