[ {transee,
    [ {cities,
      [ {transee_city_astrakhan,   <<"astrakhan">>}
      , {transee_city_barnaul,     <<"barnaul">>}
      , {transee_city_novgorod,    <<"veliky_novgorod">>}
      , {transee_city_vladivostok, <<"vladivostok">>}
      , {transee_city_vladimir,    <<"vladimir">>}
      , {transee_city_yaroslavl,   <<"yaroslavl">>}
      ]}
    ]}
, {lager,
    [ {colored, true}
    , {handlers,
        [ {lager_console_backend, info}
        , {lager_file_backend, [{file, "log/error.log"}, {level, error}]}
        , {transee_influx_lager_backend, [{db, transee}, {name, errors_count}, {level, error}]}
        ]}
    ]}
].
