[ {transee,
    [ {cities,
      [ {transee_city_astrakhan,     <<"astrakhan">>}
      , {transee_city_barnaul,       <<"barnaul">>}
      % {transee_city_bryansk,       <<"bryansk">>}
      , {transee_city_novgorod,      <<"veliky_novgorod">>}
      , {transee_city_vladivostok,   <<"vladivostok">>}
      , {transee_city_vladimir,      <<"vladimir">>}
      , {transee_city_voronezh,      <<"voronezh">>}
      % {transee_city_yekaterinburg, <<"yekaterinburg">>}
      % {transee_city_ivanovo,       <<"ivanovo">>}
      % {transee_city_irkutsk,       <<"irkutsk">>}
      % {transee_city_kazan,         <<"kazan">>}
      % {transee_city_kaliningrad,   <<"kaliningrad">>}
      , {transee_city_kostroma,      <<"kostroma">>}
      % {transee_city_kurgan,        <<"kurgan">>}
      % {transee_city_kursk,         <<"kursk">>}
      % {transee_city_moscow,        <<"moscow">>}
      % {transee_city_murmansk,      <<"murmansk">>}
      % {transee_city_nnovgorod,     <<"nizhny_novgorod">>}
      % {transee_city_novorossiysk,  <<"novorossiysk">>}
      % {transee_city_novosibirsk,   <<"novosibirsk">>}
      % {transee_city_omsk,          <<"omsk">>}
      % {transee_city_oryol,         <<"oryol">>}
      % {transee_city_penza,         <<"penza">>}
      % {transee_city_perm,          <<"perm">>}
      % {transee_city_prokopyevsk,   <<"prokopyevsk">>}
      % {transee_city_ryazan,        <<"ryazan">>}
      % {transee_city_samara,        <<"samara">>}
      % {transee_city_spetersburg,   <<"saint_petersburg">>}
      % {transee_city_saransk,       <<"saransk">>}
      % {transee_city_saratov,       <<"saratov">>}
      % {transee_city_smolensk,      <<"smolensk">>}
      % {transee_city_sochi,         <<"sochi">>}
      % {transee_city_surgut,        <<"surgut">>}
      % {transee_city_tambov,        <<"tambov">>}
      % {transee_city_ulyanovsk,     <<"ulyanovsk">>}
      % {transee_city_khabarovsk,    <<"khabarovsk">>}
      % {transee_city_cheboksary,    <<"cheboksary">>}
      % {transee_city_cherepovets,   <<"cherepovets">>}
      % {transee_city_yakutsk,       <<"yakutsk">>}
      , {transee_city_yaroslavl,     <<"yaroslavl">>}
      ]}
    ]}
, {lager,
    [ {colored, true}
    , {handlers,
        [ {lager_console_backend, info}
        , {lager_file_backend, [{file, "log/error.log"}, {level, error}]}
        , {transee_influx_lager_backend, [{db, transee}, {name, errors_count}, {level, error}]}
        , {raven_lager_backend, error}
        ]}
    ]}
, {raven,
    [ {uri, "https://app.getsentry.com"}
    , {project, "41580"}
    , {public_key, "b0188b9cc9a74f6bbe2eca66a74cec21"}
    , {private_key, "62bd418cfd2640268601069774b660ae"}
    , {error_logger, false}
    , {ipfamily, inet}
    ]}
].
